* {
  font-size: 20px;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  min-width: 150px;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255, 0.3);
}

.btn__none {
  display: none;
}

.color__data {
  background-color: rgb(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 10px;
}